.wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: 50px;
	border-left: solid 2px black;	
	border-top: solid 2px black;
	border-bottom: solid 2px black;
}

.itemHeader {
	width: 100%;
	height: 100%;
	border-right: solid 2px black;
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 70px;
	
}

.cell {
	display: block;
	text-align: center;
	font-weight: 600;
	padding: 0 10px 0 10px;

	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

